{% extends 'base.html.twig' %}

{% block title %}Indeed
{% endblock %}

{% block body %}
	<div id="addOffre" class="text-center m-4">
		<a href="/new">
			<button type="button" class="btn btn-primary">
				Ajouter une offre
			</button>
		</a>
	</div>
	<div id="cards" class="container-fluid">
		<div class="row row-cols-4 justify-content-center">
			{% for offre in offres %}
				<div id="card" class="card col m-1">
					<a class="card-body" href="{{offre.id}}">
						<h5 id="title" class="card-title">
							{{offre.title}}</h5>
						<p id="ville" class="card-text">
							<span>Ville:</span>
							{{offre.ville}}</p>
						<p id="type" class="card-text">
							<span>Type:</span>
							{{offre.contrat.contrats}}</p>
						<p id="temps" class="card-text">
							<span>Durée:</span>
							{{offre.typeContrat.type}}</p>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
